# all_swaps.csv is valuable paid data from Allium so I feel like I shouldn't upload it. The query is documented in all_swaps.sql.
# if you want the data to collaborate, message me on twitter, same handle.
all_swaps.csv
swaps_cut.csv
swaps_plus_markout_cut.csv
eth_usdc_pools.csv
eth_usdc_cut.csv